
.editor {
    display: flex;
    justify-content: center;
}

.canvas-container{
position: relative;
}


.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}




