


@media (max-width: 650px) {
  .header {
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .button-container{
    border-radius: 10px;
    position: absolute;
    max-width: 650px;
    flex-direction: column;
  }

  .gallery{
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    
  }
}