.button-container {
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;

}

.button-container button {
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    border: none;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.button-container> :last-child {
    margin-right: 30px;
}

.editor-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text-align {
    display: flex;
    /* align-self: center; */
    gap: 10px;


}

.fa-solid {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    align-self: center;
}

.fa-solid.fa-download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
}

span {
    font-size: 13px;
    color: grey;
    font-weight: bold;
}

.download-link {
    display: flex;
    flex-direction: column;
}

.smiley-stickers {
    border: 5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    background-color: grey;
    gap: 10px;
}

.face:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.fa-solid.fa-align-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid.fa-align-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid.fa-align-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-text-align {
    display: flex;
    justify-content: center;
    width: 70px;
}

