.button-container {
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;

}

.button-container button {
    background-color: lightslategray;
    border: none;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;

}

.button-container> :last-child {
    margin-right: 30px;
}

.editor-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text-align {
    display: flex;
    /* align-self: center; */
    gap: 10px;
}


.fa-solid {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    align-self: center;
    gap: 15px;
}

.fa-solid.fa-download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
}

span {
    font-size: 13px;
    color: grey;
    font-weight: bold;
}



.smiley-stickers {
    border: 5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    background-color: grey;
    gap: 10px;
}

.face:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.fa-solid.fa-align-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid.fa-align-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid.fa-align-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-text-align {
    display: flex;
    justify-content: center;
    width: 70px;
}

.fa-solid.fa-droplet {
    width: 50px;
    height: 35px;
    background-color: rgb(208, 208, 208);
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-solid.fa-fill {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
    display: flex;
    background-color: rgb(208, 208, 208);
    ;
}

.color {
    display: flex;
    align-items: center;
    gap: 10px;
}

.font-size {
    height: 25px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(201, 201, 201);
    font-size: medium;
}

.add-line{
    border-radius: 7px;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
}

.delete{
    width: 150px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.delete:hover{
    border-radius: 7px;
    background-color: rgb(75, 75, 75);
    transition: 1s;
}

.add-line:hover{
    border-radius: 7px;
    background-color: rgb(75, 75, 75);
    transition: 1s;
}


a{
    cursor: pointer;
    display: block;
    color: black;
}

.btn-download:hover{
    border-radius: 15px;
    background-color: rgb(75, 75, 75);
    transition: 1s;
}
