.btn-container{
    display: flex;
    align-items: center;
    
    
   
}

.logo-container p{
    margin-left: 10px;
    font-size: 35px;
    color: rgb(255, 55, 0);
    font-weight: bold;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
}

