.btn-container{
    display: flex;
    align-items: center;
    
    
   
}

.logo-container p{
    font-size: 35px;
    color: blue;
    font-weight: bold;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    background-color: lightblue;
    border-radius: 10px;
}

